.miniVideoStream {
    border-radius: 20%;
    margin-right: 10px;
}

#activeVideo {
    width: 80vh; 
    height: 80vh; 
    background-color: gray;
}

#myVideo {
    min-height: 100px; 
    max-height: 100px; 
    position: absolute;
    right: 7px;
    top: 37px;
    border-radius: 20%;
}

.videoBoxList {
    display: flex; 
    flex-wrap: nowrap; 
    /* overflow-x: auto; */
    justify-content: space-evenly;
}

div.inner {
    padding: 5px;
}
